.cdx-cta-icon svg {
  transform: rotate(180deg);
}

.cdx-cta {
  margin: 0;
}

.cdx-cta__text {
  min-height: 158px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cdx-cta__caption {
}

.cdx-cta [contentEditable="true"][data-placeholder]::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

.cdx-cta [contentEditable="true"][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-cta [contentEditable="true"][data-placeholder]:empty:focus::before {
  opacity: 0;
}

.cdx-cta-settings {
  display: flex;
}

.cdx-cta-settings .cdx-settings-button {
  width: 50%;
}
